<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Нужен для hot reload и отладки. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Только debug: разрешает http к локальному PocketBase. В release http запрещён. -->
    <application android:usesCleartextTraffic="true" />
</manifest>